<section class="form">
  <h1>Enter the URL to be shortened</h1>
  <%= render 'links/partials/form', link: @link %>
</section>
<section class="response" id="response">
</section>
<section id="links" class="links">
  <%= render 'links/partials/links', links: @links %>
</section>